@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Aboreto&family=Great+Vibes&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body,
html {
    padding: 0;
    margin: 0;
}

body {
    font-family: Aboreto, sans-serif;
    color: #DAA520;
}

header {
    height: 13vh;
    width: 100%;
    background-color: #2E8B57;
}

iframe {
    width: 100%;
}

.genbg {
    /* sets background color on all pages */
    background-color: #E7D1C3;
    height: fit-content;
    overflow: hidden;
}

/* headings and logo */
h1,
h2 {
    font-family: Aboreto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #DAA520;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 1.2vw;
    line-height: 13vh;
}

/* navigation links */

#menu {
    font-size: 110%;
    /* position nav bar and gives spacing between */
    letter-spacing: 4px;
    border: 0;
    padding: 30px 0 0 0;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* cake image and cover text */
#cover-image {
    height: 93vh;
    width: 100%;
    background-color: #E7D1C3;
}

#muffins-image-welcome-text {
    height: 86%;
    width: 40%;
    background-image: url('../images/pinkmuffins.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    /* sets the image to left */
    float: left;
}

#muffin-image-welcome-text h2 {
    color: #C71585;
    font-family: Abhaya Libre, sans-serif;
}

#motive {
    width: 60%;
    text-align: center;
    padding-top: 30vh;
    color: #C71585;
    font-family: Abhaya Libre, sans-serif;
    font-size: x-large;
    /* gives spacing between lines */
    line-height: 40px;
    /* sets text to right */
    float: right;
}

#contactarea {
    /* add another background for contact area */
    background-image: url(../images/strawberries.jpg);
}

#contactarea:hover {
    color: #FFFF;
}

/* arranging three divs horizontally */
.leftelem3 {
    width: 30%;
    height: 15vh;
    /* this will take left space */
    float: left;
    padding: 0 0 0 2%;
    clear: right;
}

.rightelem3 {
    width: 30%;
    /* this will take the right space */
    float: right;
    height: 15vh;
}

.centerelem3 {
    width: 30%;
    height: 15vh;
    /* this will stay in the center */
    float: left;
    clear: right;
}

#contact {
    text-align: center;
}

#contact h2 {
    padding: 1.6em;
}

/* menu */
#menulist {
    padding: 5% 0 0 5%;
    text-align: center;
}

#menulist img {
    width: 100%;
    height: fit-content;
}

.img {
    margin: 0px 0px;
    padding: 0 5%;
    /* sets size for each div with class .img */
    width: 20%;
    height: 45vh;
    /* arranges the divs: three columns and two lines */
    float: left;
    clear: right;
}

#menulist h3:hover {
    color: #C71585;
}

#menulist h3 {
    padding: 10px;
    color: #DAA520;
}

/* recipe */
.recipe h2 {
    text-align: center;
    padding: 10px;
}

.ingredients-center {
    text-align: center;
    font-family: Abhaya Libre, sans-serif;
    font-size: large;
    height: 35vh;
    padding: 3% 0;
    color: #DAA520;
    width: 100%;
}

.method-left {
    width: 50%;
    height: 35vh;
    float: left;
    clear: right;
    text-align: center;
    font-family: Abhaya Libre, sans-serif;
    font-size: large;
}

.ingredients-center ul {
    padding: 2px;
    color: #2E8B57;
    list-style-type: none;
}

.method-left ol {
    padding: 1%;
    color: #2E8B57;
    list-style-type: upper-roman;
    list-style-position: inside;
}

.image-right {
    float: right;
    width: 50%;
    height: 35vh;
    text-align: center;
}

.image-right img {
    border-radius: 50%;
    height: 100%;
    width: 50%;
    position: relative;
    bottom: 15%;
    left: 10%;
}

/* signup */
.signupbg {
    text-align: center;
    height: 100vh;
    width: 100%; 
    background-image: url(../images/roses.jpg);
    background-position: center;
    background-size: cover;
}

form {
    width: 40%;
    height: 70vh;
    display: inline-block;
    text-align: left;
    font-family: Abhaya Libre, sans-serif;
    color: #DAA520;
    border: 1px solid #DAA520;
    background-color: #A1235499;
    padding: 4px 0 0 0;
    margin-top: 5%;
}

input {
    width: 100%;
    height: 6vh;
    border: 2px solid #DAA520;
    border-radius: 4px;
}

input:focus {
    background-color: #eed6e5;
}

input::placeholder {
    opacity: 20%;
}

.submitbutton {
    text-align: center;
    width: 30%;
    color: #FFD700;
    background-color: #C71585;
}

.submitbutton:hover {
    color: antiquewhite;
    background-color: #C71585;
}

/* confirmation page */
.confirmationtxt {
    /* this area will horizontally center div */
    margin:auto;
    width: 60%;
    height: 30%;
    border: #2E8B57 solid 2px;
    text-align: center;
    background-color: #A1235499;
    /* this area will vertically center div and make it move together with scroll*/
    position: fixed;
    top: 50%;
    left: 20%;
}

.confirmationtxt h2 {
    padding: 30px;
}

/* footer */
footer {
    background-color: #2E8B57;
    width: 100%;
    height: 9vh;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #DAA520;
}

/* a hover effect*/
.fa:hover {
    opacity: 0.7;
}

/* Media queries */
/* For larger to medium screens size from 1200px wide and down */
/* /.active short text by default (resolution > 1200px) */
.short-logo {
    display: none;
}

@media screen and (max-width: 1200px) {
    .short-logo {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    .full-logo {
        display: none;
    }

    .short-logo {
        display: inline-block;
        color: #DAA520;
        float: left;
        font-size: 100%;
        margin-left: 1.5vw;
        line-height: 13vh;
    }

    .short-logo h1 {
        font-family: Great Vibes, sans-serif;
    }

    #menu {
        padding: 8% 0 0 0;
    }

    #contactarea {
        font-size: smaller;
    }

    .method-left {
        width: 100%;
        height: 28vh;
    }

    .ingredients-center {
        height: 28vh;
    }

    .ingredients-center {
        font-size: 2em;
    }

    .method-left {
        font-size: 2em;
    }

    .image-right {
        width: 100%;
        height: 28vh;
        text-align: center;
        padding: 0 10% 0 0;
    }

    form {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    #menu {
        padding: 12% 0 0 0;
    }

    #muffins-image-welcome-text {
        width: 30%;
    }

    #muffins-image-welcome-text h2 {
        text-align: left;
        position: relative;
        bottom: 12%;
        left: 30%;
    }

    #motive {
        width: 65%;
        line-height: 35px;
    }

    #contactarea {
        font-size: x-small;
    }

    .leftelem3 {
        padding: 0 0 0 35%;
        width: 100%;
        height: 30%;
    }

    .ingredients-center {
        font-size: 1.4em;
    }

    .method-left {
        font-size: 1.4em;
    }

    .img {
        width: 85%;
        height: 35%;
    }

    input {
        height: 4vh;
    }

    .confirmationtxt h2 {
        padding: 20px 5px;
        font-size: medium;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 0.6em;
    }

    #motive {
        font-size: 1.4em;
    }

    .ingredients-center {
        font-size: 1.4em;
    }

    .method-left {
        font-size: 1.4em;
    }

    .leftelem3 {
        height: 9vh;
    }

    .centerelem3 {
        width: 100%;
        text-align: center;
        height: 8vh;
    }

    .rightelem3 {
        width: 100%;
        text-align: center;
        height: 8vh;
        padding: 0;
    }

    .fa {
        width: fit-content;
    }
}